<h1>recipe</h1>

<ul>
    <li>
        {{recipe.title}}
    </li>
    <li>
        By: <a href='{% url 'author' id=recipe.author.id %}'>{{ recipe.author }}</a>
    </li>
    <li>
        Time to make: {{recipe.req_time}}
    </li>
    <li>
        {{recipe.description}}
    </li>
    <li>
        {{recipe.instructions}}
    </li>
    {% if request.user.is_authenticated %}
    <li>
        <a href="/editform/{{ recipe.id }}">edit</a>
    </li>
    <li>
        {% if fav %}
            You favorite this
        {% else %}
        <button><a href="/favorite/{{ recipe.id }}">Favorite</a></button>
        {% endif %}
    </li>
    {% endif %}
</ul>